.roundedButton {
    background-color: rgba(187, 187, 187, 0.8);
    padding: 10px 20px;
    border-radius: 25px;
    min-height: 50px;
    transition: background-color 0.3s;
    @media (max-width: 768px) {
        height: 40px;
        border-radius: 20px;
        width: fit-content;
    }
    text-align: left;
}

.roundedButton p {
    color: black;
    font-weight: bold;
    font-size: 24px;
    @media (max-width: 1152) {
        font-size: 18px;
    }
    @media (max-width: 768px) {
        font-size: 20px;
        white-space: nowrap;
    }
}

.roundedButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.roundedButton.isSelected {
    background-color: rgba(255, 255, 255, 0.8);
}
