.main {
    width: 100%;
    height: 100svh;
    overflow: clip;
    padding-top: 100px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    background-image: url("/hype_animation.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 500px) {
        gap: 2rem;
    }
}
