**/.git
**/.husky
**/.github
**/.DS_Store

**/node_modules

**/.next
**/.turbo
**/dist
**/out
**/coverage

public/*
static/*
apps/*/public/*
apps/*/static/*
packages/*/public/*
packages/*/static/*

LICENSE
.prettierignore
.gitignore
pnpm-lock.yaml
yarn.lock
package-lock.json

apps/*/app/favicon.ico
