.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (max-width: 768px) {
        gap: 2rem;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: flex-start;
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
    }
}

.field {
    flex: 5;
    @media (max-width: 768px) {
        width: 100%;
    }
}
