.faqContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12vw;
    padding: 0 3vw;
    height: 60vw;

    @media screen and (max-width: 768px) {
        height: 90vw;
    }
}

.faqArrow {
    background: none;
    border: none;
    font-size: 48px;
    cursor: pointer;

    @media screen and (max-width: 1152px) {
        font-size: 24px;
    }
}

.faqArrow:disabled {
    opacity: 0.3;
    cursor: default;
}

.faqContent {
    display: grid;
    gap: 3rem;
    padding: 0 10px;
    flex: 1;

    @media screen and (max-width: 1152px) {
        gap: 1rem;
    }
}

.faqItem {
    h3 {
        font-size: 2.5vw;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.25vw;
    }

    a {
        text-decoration: underline;
    }

    a:link {
        color: #a5c300;
    }

    a:visited {
        color: #a5c300;
    }

    @media screen and (max-width: 1350px) {
        h3 {
            font-size: 3vw;
        }

        p {
            font-size: 2.5vw;
        }
    }

    @media screen and (max-width: 432px) {
        h3 {
            font-size: 4vw;
        }

        p {
            font-size: 2.9vw;
        }
    }
}
