.footerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(180deg, #343f3f 6%, #51242b 51%);
    margin-top: -50vw;
    padding-top: 5%;
}

.background {
    height: fit-content;
    width: 100vw;
    z-index: 2;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    bottom: 55vw;
    z-index: 3;

    @media screen and (max-width: 700px) {
        row-gap: 0rem;
        width: 80%;
    }

    @media screen and (max-width: 670px) {
        bottom: 48vw;
    }

    @media screen and (max-width: 475px) {
        bottom: 45vw;
    }

    > div:nth-child(1) {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        align-self: center;
        max-width: max(90%, calc(100vw / (1920 / 1220)));
    }
}

.title {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color: #022838;
    text-align: center;

    @media screen and (max-width: 1280px) {
        font-size: 2.5rem;
    }

    @media screen and (max-width: 1024px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 900px) {
        font-size: 1.75rem;
    }

    @media screen and (max-width: 700px) {
        font-size: 1.25rem;
    }

    @media screen and (max-width: 550px) {
        font-size: 1rem;
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;

    @media screen and (max-width: 900px) {
        margin-top: 1.5rem;
        gap: 1.5rem;
    }

    @media screen and (max-width: 700px) {
        margin-top: 1.5rem;
        column-gap: 20%;
        row-gap: 1rem;
        margin-bottom: 0;
    }

    .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #022838;
        // padding: min(1vw, 1rem);
        border-radius: 9999px;
        width: 4rem;
        height: 4rem;

        @media screen and (max-width: 1280px) {
            width: 4rem;
            height: 4rem;
        }

        @media screen and (max-width: 1024px) {
            width: 3.5rem;
            height: 3.5rem;
        }

        @media screen and (max-width: 900px) {
            width: 3rem;
            height: 3rem;
        }

        @media screen and (max-width: 600px) {
            width: 2rem;
            height: 2rem;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        .image {
            width: 50%;
            height: 50%;
        }
    }
}
