.background {
    background-image: url("/knights/challenge/background.svg");
    @media screen and (max-width: 700px) {
        background-image: url("/knights/challenge/background-mobile.svg");
    }
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-color: #505370;

    min-width: 100vw;
    min-height: 150vh;

    @media screen and (max-width: 1280px) {
        background-size: 100vw auto;
        min-height: 100vh;
    }
    @media screen and (max-width: 1024px) {
        background-size: 125vw 100vh;
        min-height: 100vh;
    }
    @media screen and (max-width: 900px) {
        background-size: 125vw 100vh;
        min-height: 150vh;
    }
    @media screen and (max-width: 700px) {
        min-height: 100vh;
    }

    overflow-y: scroll;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
}
