.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 5rem 1rem;
    padding-top: 2rem;
    gap: 3rem;
    background-size: cover;
    // transition fade
    transition: background-image 0.5s linear;
    min-height: 100vh;

    @media (max-width: 768px) {
        max-height: 100vh;
        overflow-y: auto;
        gap: 2rem;
        padding: 4rem 1.5rem;
        padding-bottom: 25rem;
        // Lots of bottom padding for mobile keyboard
    }
}

.form {
    width: 100%;
    h1 {
        font-weight: 900;
        font-size: 36px;
        color: white;
        // font-size: 56px;
        @media (max-width: 768px) {
            font-size: 36px;
        }
    }

    h4 {
        font-weight: 400;
        font-size: 20px;
        color: red;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    label,
    h3 {
        font-weight: 600;
        font-size: 20px;
        color: white;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.formWrapper {
    display: flex;
    width: 100%;
    gap: 3rem;

    max-width: 1200px;
}

.formContent {
    flex: 2;
}

.character {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0.5;
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        // scale up 1.5x
    }
    @media (max-width: 1000px) {
        flex: 1;
    }

    @media (max-width: 768px) {
        display: none;
    }
}
