@use "/app/colors" as *;

.olympianMain {
    position: relative;
    width: 100%;
    height: fit-content;
    background: linear-gradient(
        360deg,
        #fff3b6 61.1%,
        #ffe1d6 68.5%,
        #32c0e2 82.05%,
        #0e87cc 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    @media screen and (max-width: 768px) {
        top: 120px;
        gap: 20px;
    }
}

@keyframes scaleUpDown {
    0%,
    100% {
        transform: scale(1); /* Normal scale */
    }
    50% {
        transform: scale(1.01); /* Scaled up by 2% */
    }
}

.logo {
    height: fit-content;
    width: 80vw;
    animation: scaleUpDown 5s infinite;

    @media screen and (max-width: 768px) {
        width: 90vw;
    }
}

.background {
    height: fit-content;
    width: 100vw;

    @media screen and (max-width: 768px) {
        margin-top: 86px;
    }
}
