.container {
    background: linear-gradient(180deg, #84bcb9 37%, #fdf1db 110%);
    width: 100vw;
    min-height: 100vh;
    color: #fff;
}

.backgroundContainer {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    filter: brightness(0.85);
}

.background {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    bottom: -20vw;
    @media screen and (max-width: 800px) {
        bottom: -35vw;
    }
    @media screen and (max-width: 500px) {
        bottom: -60vw;
    }
}

.backgroundCloudsTop {
    position: absolute;
    top: -20vh;
    width: 100vw;
    min-height: 100vh;
}
