.button {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 15px; // To align the button with the other content
    margin-top: 15px;
    width: 5vw;
    height: 5vw;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        width: 30vw;
        height: 30vw;
    }
}
