.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 20px;

    color: #ffffff;

    font-weight: 600;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;

    &::before {
        content: "";

        width: 32px;
        height: 32px;

        border: 2px solid white;

        border-radius: 0.25em;
    }

    &:hover::before {
        background-color: rgba(26, 188, 156, 0.5);
    }

    &.checked::before {
        background-color: #1abc9c;
    }

    &.radio::before {
        border-radius: 1em;
        border: 3px solid white;
        outline: 3px solid #1d2644;
        outline-offset: -5px;
    }

    &.radio {
        text-align: center;
    }

    .checkbox {
        // hide it
        display: none;
    }
}
