// @import 'common.scss';

.screen {
    --field-margin: 40px;
    font-size: 1em;
    position: relative;
    flex: 1;
    height: fit-content;

    @media (max-height: 750px) {
        margin-top: 18px;
        font-size: 0.9em;
    }

    .title {
        color: var(--text-color);
        // font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;

        @media screen and (max-height: 750px) {
            font-size: 28px;
            transform: translateY(15%);
        }

    }

    .text,
    .textOp,
    .textOp2,
    .note {
        font-size: 1.6em;
        line-height: 1.5em;
        margin-top: 25px;
        color: var(--text-color);
        font-weight: 600;
        margin-top: var(--field-margin, 10px);
        margin-bottom: 0px;

        a {
            font-weight: 700;
            color: #46959f;
            text-decoration: none;
        }

        b {
            font-weight: 700;
        }
        @media (max-width: 912px) {
            font-size: 1.0em;
            margin-top: 20px;
        }
    }
    .text::after {
        content: "*";
        color: #fe7098;
        margin-left: 4px;
    }
    .textOp2 {
        width: 60%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
        a {
            font-weight: 600;
            color: #f99557;
            text-decoration: none;
        }
    }

}


.personalInfo {
    background: linear-gradient(
        to bottom,
        #0D3F41 0%,
        #0D3F41 40%,
        #0D1414 40%,
        #0D1414 100%
    );
    --text-color: #B7D6D6
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;

    // Headers
    .piAbsolutes {
        position: relative;
        height: fit-content;
        width: 100%;
    }

    .demographicsHeader {
        padding-top: 110px;
        position: absolute;
        z-index: 1000;
        height: fit-content;
        width: 60%;
        right: 0;
    }

    .mobileHeader {
        position: absolute;
        z-index: 1000;
        height: fit-content;
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: none;
        margin-top: 5%;
        padding-top: 110px;
    }

    // Mountains
    .piCaveContainer {
        position: relative;
        height: fit-content;
        width: 100%;
    }

    .backMountain {
        padding-top: 150px;
        position: absolute;
        height: fit-content;
        width: 100%;
        z-index: 0;
    }

    .cave {
        position: relative;
        height: fit-content;
        width: 100%;
        z-index: 3;
        padding-top: 150px;
    }

    .mobileCave {
        height: fit-content;
        width: 100%;
        z-index: 3;
        display: none;
        padding-top: 150px;
    }

    .mascot {
        position: absolute;
        width: 15%;
        height: fit-content;
        z-index: 1000;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 13%;
        padding-top: 150px;

        @media screen and (max-width: 768px) {
            width: 30%;
            margin-top: 20%;
            margin-left: 60%;
        }
    }

    // Form
    .piForm {
        z-index: 3;
        overflow: auto;
        position: absolute;
        height: fit-content;
        width: 60%;
        top: 40%;
        left: 50%; // 50% from the left of the viewport
        transform: translateX(-50%); // to center the element
        justify-content: center;
        align-items: center;

        @media (max-width: 900px) {
            max-height: 80vh;
        }

        @media (max-width: 768px) {
            transform: translate(-50%, 8%);
            max-height: 100vh;
            width: 80%;
        }
        @media (max-width: 500px) {
            max-height: 75vh;
        }
        @media (max-width: 370px) {
            transform: translate(-50%, 10%);
            max-height: 60vh;
        }
    }

    @media screen and (max-width: 768px) {
        .mobileHeader {
            display: block;
        }
        .mobileCave {
            display: block;
        }
        .demographicsHeader {
            display: none;
        }
        .cave {
            display: none;
        }
    }
}

.education {
    --text-color: #ead1d0;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;

    // Headers
    .eduHeader {
        position: relative;
        height: fit-content;
        width: 100%;
    }

    .demographicsHeader2 {
        position: absolute;
        z-index: -1;
        height: fit-content;
        width: 60%;
        margin-top: 7%; // need to change this to 20% for mobile
        margin-left: 2%;

        @media screen and (max-width: 768px) {
            margin-top: 20%;
            left:0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    // Caves
    .eduCaveContainer {
        position: relative;
        height: fit-content;
        // min-height: 120vh;
        width: 100%;
    }

    .lab {
        position: absolute;
        z-index: -2;
        height: fit-content;
        width: 55%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 22%;

        @media (max-width: 768px) {
            margin-top: 33%;
            width: 80%;
        }
    }

    .rabbit {
        position: absolute;
        height: fit-content;
        width: 20%;
        margin-top: 200%;
        left: 40%;
        @media (max-width: 768px) {
            left: 80%;
            width: 30%;
            margin-top: 240%;
            transform: rotate(-20deg);
        }
    }

    .upperCave {
        position: absolute;
        height: fit-content;
        transform-origin: top;
        transform: scaleY(0.7);
        width: 100%;
        z-index: -4;

        @media screen and (max-width: 768px) {
            transform: scaleY(1);
        }
    }

    .iceCave {
        margin-top: 45%;
        z-index: -5;
        position: relative;
        height: fit-content;
        width: 100%;

        @media screen and (max-width: 768px) {
            margin-top: 85%;
        }
    }

    // Form
    .eduForm {
        z-index: 3;
        overflow: auto;
        position: absolute;
        height: fit-content;
        width: 60%;
        left: 50%; // 50% from the left of the viewport
        transform: translateX(-50%); // to center the element
        justify-content: center;
        align-items: center;
        top: 40%;
        margin-top: 20%; // todo: position based on screen width
        margin-bottom: 80%; // todo: bottom controls how far the image scretches down
        
        @media (max-width: 1000px) {
            width: 70%;
        }

        @media (max-width: 768px) {
            margin-top: 20%;
            width: 70%;
        }
        @media (max-width: 500px) {
            max-height: 80vh;
            margin-top: 15%;
        }
        @media (max-width: 370px) {
            max-height: 60vh;
        }
        
    }    
}

.experience {
    background: #266E83;
    --text-color: #1a3522;
    height: fit-content;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;

    @media  (max-width: 600px) {
        --text-color: #FFFFFF;
    }

    // Headers
    .hsHeader {
        position: relative;
        height: fit-content;
        width: 100%;
    }

    .hackspecificHeader {
        position: absolute;
        z-index: 3;
        height: fit-content;
        width: 60%;
        margin-top: 13%;
        margin-left: 4%;

        @media screen and (max-width: 600px) {
            margin-top: 15%;
            width: 80%;
        }
    }

    // Forest
    .hsForestContainer {
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 600px) {
            margin-top: 10%;
        }
    }

    .forest {
        position: absolute;
        height: fit-content;
        transform-origin: top;
        transform: scaleY(0.5);
        width: 100%;
        z-index: 2;

        @media screen and (max-width: 600px) {
            transform: scaleY(1);
        }
    }

    .rivergrass {
        position: relative;
        height: fit-content;
        width: 100%;
        z-index: 2;
        margin-top: 55%;

        @media screen and (max-width: 600px) {
            display: none;
            
        }
    }

    .mobilerivergrass {
        display: none;
        @media screen and (max-width: 600px) {
            display: block;
            position: relative;
            height: fit-content;
            width: 100%;
            z-index: 3;
            margin-top: 125%;
        }

    }

    .mascot {
        position: absolute;
        width: 15%;
        height: fit-content;
        z-index: 2;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 30%;

        @media screen and (max-width: 600px) {
            width: 20%;
            margin-top: 75%;
            left: 30%;
            right: 70%;
        }
    }

    // Form
    .hsForm {
        z-index: 5;
        position: absolute;
        height: fit-content;
        width: 60%;
        left: 50%; // 50% from the left of the viewport
        margin-top: 80%; // 50% from the top of the viewport
        transform: translateX(-50%); // to center the element
        justify-content: center;
        align-items: center;
        
        @media (max-width: 1000px) {
            width: 70%;
            overflow: auto;
            max-height: 130vh;
            // margin-top: 90%;
        }

        @media (max-width: 768px) {
            // margin-top: 150%;
            width: 80%;
            max-height: 90vh;
        }
        // @media (max-width: 500px) {
        //     margin-top: 130%;
        // }

        @media (max-width: 600px) {
            margin-top: 150%;
            max-height: 110vh;
        }
        
    }
}


.hackspecificp2 {
    width: 100%;
    height: fit-content;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    --text-color: #ffcdde;

    .header {
        position: absolute;
        z-index: 3;
        height: fit-content;
        width: 60%;
        left: 5%;
    }

    .background2 {
        margin-top: 5%;
        position: relative;
        width: 100%;
        height: fit-content;
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    .mobilebackground2 {
        display: none;
        @media screen and (max-width: 1000px) {
            display: block;
            position: relative;
            width: 100%;
            height: fit-content;
        }
    }

    .backgroundContainer {
        position: relative;
        width: 100%;
        height: fit-content;
    }

    .hsForm2 {
        z-index: 5;
        position: absolute;
        height: fit-content;
        width: 70%;
        margin-top: 35%;
        justify-content: center;
        align-items: center;
        
        
    }
}

.review {
    background: #004561;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    min-height: 130vh;
    overflow: auto;


    .background {
        position: absolute;
        height: fit-content;
        width: 100vw;
        bottom: 0;
    }

    .castle {
        position: absolute;
        height: fit-content;
        width: 25%;
        z-index: 2;
        right: 0;
        bottom: 0;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    .dragon {
        position: absolute;
        height: fit-content;
        width: 25%;
        z-index: 2;
        right: 0;
        bottom: 0;
        margin-bottom: 20%;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }
    
    .header {
        margin-top: 8%;
        z-index: 4;
        margin-left: 2%;
        width: 65%;
        @media screen and (max-width: 600px) {
            margin-top: 20%;
            width: 70%;
            height: fit-content;
            margin-left: 10%;
        }
        @media screen and (max-width: 400px) {
            margin-top: 30%;
            height: fit-content;
        }
    }

    .sky {
        position: absolute;
        right: 0;
        width: 80%;
        @media screen and (max-width: 600px) {
            margin-top: 30%;
            width: 100%;
            height: fit-content;
        }
    }

    .mountain {
        position: absolute;
        margin-top: 20%;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: fit-content;

        @media screen and (max-width: 600px) {
            margin-top: 70%;
            z-index: 0;
            width: 100%;
            transform-origin: bottom;
            transform: scaleY(0.6);
            left: 0;
            
        }
    }
}


.eventQuestions {
    min-width: 100%;

    .title {
        color: #ffffff;
    }

    @media (min-height: 800px) {
        width: 85%;
    }

    // @include registration-floating-screen {
    //   width: auto;
    // }

    .note {
        position: static;
        margin-top: 10px;
        height: fit-content;
        color: #c9d2e5;

        b {
            font-weight: 600;
        }

        // @include registration-floating-screen {
        //   position: static;
        //   width: auto;
        //   transform: none;
        // }
    }

    .checkboxes {
        width: 20%;
        color: #f6f4d4;
        // @include registration-floating-screen {
        //   width: auto;
        // }
    }

    @media (max-height: 860px) {
        .checkboxes {
            font-size: 0.9em;
            --checkbox-margin: min(
                max(12px, calc(13 / 210 * (100vh - 650px) + 12px)),
                25px
            );
        }
    }
}


.eventQuestions::-webkit-scrollbar {
    display: none; // Safari and Chrome
}

.finish {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: scroll;

    .logo {
        display: block;
        position: static;
        height: 50%;

        img {
            height: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .headline {
        color: #f99557;
        width: 100%;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
    }

    .text {
        text-align: center;
        color: #f6f4d4;
        font-size: 1.5em;
        transform: translateY(-20px);

        a {
            color: #f99557;
        }
    }

    .homeButton {
        display: flex;
        justify-content: flex-end;

        margin: 10px auto;
    }
}

.resume-upload {
    color: white;
}