@use "/app/colors" as *;

.main {
    width: 100%;
    height: 100svh;
    overflow: clip;
    padding: 1rem 0.25rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    background-image: url("/hype_animation.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 500px) {
        gap: 2rem;
    }
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.title {
    width: 100%;

    h1 {
        position: relative;
        font-weight: 700;
        font-size: 75px;
        color: transparent;
        text-align: center;
        line-height: 1;

        @media screen and (max-width: 800px) {
            font-size: 50px;
        }

        @media screen and (max-width: 500px) {
            font-size: 40px;
        }

        @media screen and (max-height: 500px) {
            font-size: 35px;
        }

        &::after {
            content: attr(data-text);
            position: absolute;
            pointer-events: none;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: 2;

            background: linear-gradient(
                90deg,
                #6384be 25%,
                #fcdc8f 50%,
                #dd7f48 75%
            );
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }
}

.subtitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        font-weight: 500;
        font-size: 45px;
        color: #fcdc8f;
        text-shadow: 0px 1px 20px rgba(252, 220, 143, 0.76);
        animation-name: glow;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @media screen and (max-width: 800px) {
            font-size: 32px;
        }

        @media screen and (max-height: 500px) {
            font-size: 32px;
        }

        @keyframes glow {
            from {
                text-shadow:
                    0px 0px 5px #fff,
                    0px 0px 4px #fcdc8f;
            }

            to {
                text-shadow:
                    0px 0px 20px #fff,
                    0px 0px 4px #bd7c62;
            }
        }
    }
}
