.FAQJoinUsMain {
    position: relative;
    background: linear-gradient(180deg, #9bf3fc 9%, #ffe6c0 48%, #384646 65%);
    width: 100vw;
}

.joinUs {
    position: absolute;
    color: #3a464f;
    width: 40%;
    top: 35vw;
    right: 10vw;

    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 2vw;
    }

    a {
        text-decoration: underline;
    }

    @media screen and (max-width: 1152px) {
        text-align: center;
    }
}

.social {
    position: absolute;
    width: 300px;
    height: 300px;

    @media screen and (max-width: 1152px) {
        width: 250px;
        height: 250px;
    }

    @media screen and (max-width: 768px) {
        width: 100px;
        height: 100px;
    }
}

.x {
    top: 450px;
    left: 34%;

    @media screen and (max-width: 1600px) {
        top: 430px;
    }

    @media screen and (max-width: 1152px) {
        top: 350px;
    }

    @media screen and (max-width: 768px) {
        top: 150px;
    }

    // @media screen and (max-width: 1600px) {
    //     top: 750px;
    // }

    // @media screen and (max-width: 1152px) {
    //     top: 500px;
    // }

    // @media screen and (max-width: 768px) {
    //     top: 180px;
    // }

    // @media screen and (max-width: 400px) {
    //     top: 200px;
    // }
}

.instagram {
    top: 300px;
    left: 27%;

    @media screen and (max-width: 1600px) {
        top: 300px;
    }

    @media screen and (max-width: 1152px) {
        top: 220px;
    }

    @media screen and (max-width: 768px) {
        top: 100px;
    }
}

.background {
    height: fit-content;
    width: 100vw;
}

.olympians {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 20vw;
    right: 19vw;
    color: black;
    gap: 3vw;
    width: fit-content;

    h1 {
        font-size: 4vw;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // @media screen and (max-width: 1152px) {
    //     bottom: 165px;
    //     right: 155px;
    //     gap: 1rem;

    //     h1 {
    //         font-size: 32px;
    //     }
    // }

    // @media screen and (max-width: 768px) {
    //     bottom: 85px;
    //     right: 75px;
    //     gap: 1rem;

    //     h1 {
    //         font-size: 14px;
    //     }
    // }

    // @media screen and (max-width: 400px) {
    //     bottom: 85px;
    //     right: 65px;
    //     gap: 1rem;

    //     h1 {
    //         font-size: 14px;
    //     }
    // }

    // @media screen and (max-width: 370px) {
    //     bottom: 70px;
    //     right: 60px;
    //     gap: 1rem;

    //     h1 {
    //         font-size: 14px;
    //     }
    // }
}

.faq {
    position: absolute;
    bottom: 4%;
    left: 8%;
    font-size: 5.5vw;
}
