.FAQJoinUsMain {
    position: relative;
    background: linear-gradient(180deg, #9bf3fc 9%, #ffe6c0 48%, #384646 65%);
    width: 100vw;
}

.joinUs {
    position: absolute;
    color: #3a464f;
    width: 40%;
    top: 35vw;
    right: 6vw;

    h1 {
        font-size: 5vw;
    }

    p {
        font-size: 2vw;
    }

    a {
        text-decoration: underline;
    }

    @media screen and (max-width: 1152px) {
        text-align: center;
    }
}

.social {
    position: absolute;
    width: 300px;
    height: 300px;

    @media screen and (max-width: 1152px) {
        width: 250px;
        height: 250px;
    }

    @media screen and (max-width: 768px) {
        width: 100px;
        height: 100px;
    }
}

.x {
    top: 50vw;
    left: 34vw;
}

.instagram {
    top: 30vw;
    left: 25%;
}

.background {
    height: fit-content;
    width: 100vw;
}

.olympians {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 20vw;
    right: 19vw;
    color: black;
    gap: 3vw;
    width: fit-content;

    h1 {
        font-size: 4vw;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.faq {
    position: absolute;
    bottom: 4%;
    left: 8%;
    font-size: 5.5vw;
}
