.container {
    width: 41.4vw;
    height: 12vw;
    border-radius: 6vw;
    padding: 1vw 2.5vw;
}

.platinum {
    background-color: #96e6ddc6;
}

.gold {
    background-color: #e6d174c6;
}

.silver {
    background-color: #969696c6;
    width: 27vw;
    height: 8vw;
    border-radius: 6vw;
    padding: 0.75vw 2vw;
}

.bronze {
    background-color: #f4a95eb2;
    width: 27vw;
    height: 8vw;
    border-radius: 6vw;
    padding: 0.75vw 2vw;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
