.page {
    background-color: #1a142b;
    color: white;
    min-height: 100dvh;
    padding: 3rem;
    padding-top: 10rem;
    @media (max-width: 768px) {
        padding: 1.5rem;
        padding-top: 10rem;
    }
}

.main {
    section {
        margin-bottom: 1rem;
    }

    a {
        font-weight: bold;
        text-decoration: underline;

        &:has(h2) {
            text-decoration: none;
        }
    }

    ul {
        margin-left: 2rem;
    }
}
