.container {
    position: absolute;
    top: 84vw;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;

    @media screen and (max-width: 768px) {
        margin-top: 25vw;
    }
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    color: #3a464f;
    gap: 0.5vw;
    h1 {
        font-size: 5vw;
        font-weight: 900;
        margin-bottom: 0.5vw;
    }

    p {
        font-size: 2vw;
    }

    @media screen and (max-width: 480px) {
        align-items: center;
        text-align: center;
        padding: 0 1vw;

        h1 {
            font-size: 4vw;
        }

        p {
            font-size: 3vw;
        }
    }
}

.background {
    height: fit-content;
    width: 100vw;
}
