.button {
    border-radius: 8px;
    border: 2px solid #766947;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to right,
        #ffffff 0%,
        #fff4d4 22%,
        #f0e2bc 53%,
        #e1d1a2 100%
    );
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    font-size: 28px;
    height: auto;
    cursor: pointer;

    // Make sure focus state works
    &:focus {
        outline: 4px solid #ad8e28;
    }

    @media (max-width: 768px) {
        padding: 5px 10px;
        font-size: 20px;
    }
}

.right {
    margin-right: 10px;
}

.left {
    margin-left: 10px;
}

.button p {
    font-weight: bold;
    color: #9a8a5f;
}

.arrow {
    height: 0.8em;
}

.desktop {
    display: block;
    @media (max-width: 768px) {
        display: none;
    }
}

.mobile {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}
