.content {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
    align-items: center;
    text-align: left;
    text-align: center;
    // padding: 20px;
    // border-radius: 10px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // background-color: rgb(0, 0, 0, 0.6);

    h1,
    p {
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
}

.logo {
    align-self: flex-start; /* Align logo with the text */
    margin-top: 10px; /* Reduced margin for less spacing */
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
    width: 130%;

    @media screen and (max-width: 768px) {
        font-size: 26px;
    }
}

.message {
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 15px;
    width: 80%;
    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
}

.follow {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
    margin-top: 40px;
}

.link {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}
