.container {
    position: relative;
    background-color: #384646;
    width: 100vw;
}

.background {
    height: fit-content;
    width: 100vw;
}

.content {
    position: absolute;
    top: 7vw;
    left: 8vw;
    font-size: 3vw;
}

.title {
    font-size: 2em;
}

.sponsors {
    position: absolute;
    display: relative;
    top: 21vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.sponsor {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: white;
    opacity: 0.75;
    border-radius: 20px;
    height: 50%;
    padding: 20px;
    color: black;
    top: 90px;
}

.caterpillar {
    position: absolute;
    top: 28.25vw;
    left: 24.24vw;
}

.johndeere {
    position: absolute;
    top: 54vw;
    left: 3.5vw;
}

.solana {
    position: absolute;
    top: 50.5vw;
    right: 0.75vw;
}

.discover {
    position: absolute;
    top: 79.75vw;
    right: 0.4vw;
}

.klaviyo {
    position: absolute;
    top: 92.75vw;
    left: 21.75vw;
}

.capitalone {
    position: absolute;
    top: 128.5vw;
    left: 2vw;
}

.agco {
    position: absolute;
    top: 130.25vw;
    right: 1vw;
}

.sponsorTable {
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75vw 7vw;
    position: absolute;
    top: 154vw;
    left: 17vw;
}

.sponsorTable > :last-child {
    grid-column: span 2;
    justify-self: center;
}

.slb img {
    opacity: 0.7;
}
