.sponsorsMain {
    position: relative;
    background-color: #384646;
    width: 100vw;
}

.background {
    height: fit-content;
    width: 100vw;
}

.sponsor {
    position: absolute;
    top: 120px;
    left: 150px;
    font-size: 87px;

    @media screen and (max-width: 1152px) {
        font-size: 54px;
        top: 50px;
        left: 35px;
    }

    @media screen and (max-width: 768px) {
        font-size: 18px;
        top: 30px;
        left: 30px;
    }

    @media screen and (max-width: 400px) {
        font-size: 18px;
        top: 30px;
        left: 30px;
    }

    @media screen and (max-width: 370px) {
        font-size: 18px;
        top: 25px;
        left: 30px;
    }
}
