.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 1rem;
}

.dropdownControl {
    font-size: 20px;
    padding: 2px 2px;
}

.invalid {
    outline: 4px solid red !important;
    border-radius: 4px;
}

.dropdown,
.dropdownSingleValue {
    color: #ad8e28 !important;
}
