.reviewButton {
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 0.5rem;
}

.reviewButton:hover {
    cursor: pointer;
    color: #c6c6c6;
    h3 {
        text-decoration: underline;
    }
}
