.eventsMain {
    background-color: #9bf3fc;
    position: relative;
    width: 100vw;
}

.clouds {
    height: fit-content;
    width: 100vw;
    margin-top: -33%;
}

.cloudsContainer {
    height: 1198px;
    width: 100%;
    position: relative;
    img {
        object-fit: contain;
        position: relative;
        margin-top: -500px;
    }

    @media screen and (max-width: 1440px) {
        img {
            margin-top: -430px;
        }
    }
    @media screen and (max-width: 1152px) {
        img {
            margin-top: -480px;
        }
    }
    @media screen and (max-width: 960px) {
        img {
            margin-top: -500px;
        }
    }
    @media screen and (max-width: 680px) {
        img {
            margin-top: -520px;
        }
    }
    @media screen and (max-width: 430px) {
        img {
            margin-top: -550px;
        }
    }
}

.eventDescription {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    color: black;

    h1 {
        font-size: 81px;
        font-weight: 900;
    }

    p {
        font-size: 25px;
        font-weight: 400;
        margin: 1rem;
    }

    @media screen and (max-width: 1440px) {
        h1 {
            font-size: 70px;
        }
        p {
            font-size: 22px;
        }
    }
    @media screen and (max-width: 1152px) {
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
            margin: 0.5rem;
        }
    }
    @media screen and (max-width: 960px) {
        h1 {
            font-size: 34px;
        }
        p {
            font-size: 15px;
            margin: 0.3rem;
        }
    }
    @media screen and (max-width: 680px) {
        top: 10%;
        h1 {
            font-size: 22px;
        }
        p {
            font-size: 12px;
        }
        width: 70%;
    }
    @media screen and (max-width: 470px) {
        top: 8%;
        h1 {
            font-size: 14px;
        }
        p {
            font-size: 10px;
            margin: 0.1rem;
        }
    }
}
