.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    display: block;
    font-family: inherit;
    outline: none;
    font-weight: 400;
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    color: #ad8e28;
    border-radius: 4px;
    font-size: 28px;

    &::placeholder {
        color: #a19366;
    }

    &:focus {
        outline: 4px solid #ad8e28;
    }
}

.invalid {
    outline: 4px solid red !important;
}

.multiline {
    resize: none;
}
