// About Section
.aboutSection {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #3a3069, #6f4e92);
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.aboutBackgrounds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%
    );

    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%
    );
}

.content {
    max-width: 800px;
    padding: 50px 10px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
    @media (max-width: 768px) {
        padding: 20px 0px;
    }
}

.planetsBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto !important;
    object-fit: cover;
    object-position: center bottom;
    opacity: 0.7;
    z-index: 1;
    @media (max-width: 768px) {
        display: none;
    }
    &.mobile {
        display: none;
        object-fit: contain;
        object-position: center top;
        @media (max-width: 768px) {
            top: 20% !important;
            display: block;
        }
    }
}

.starsBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content !important;
    object-fit: cover;
    opacity: 0.6;
    z-index: 2;
    @media (max-width: 768px) {
        display: none;
    }
    &.mobile {
        display: none;
        @media (max-width: 768px) {
            display: block;
            top: 15% !important;
        }
    }
}

.tinyStarsBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.4;
    z-index: 3;

    @media (max-width: 768px) {
        display: none;
    }
    &.mobile {
        display: none;
        opacity: 1;
        @media (max-width: 768px) {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .content {
        max-width: 90%;
        padding: 0 1rem;
    }
}
