// Hero Section
.heroSection {
    position: relative;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #16133e, #3a3069);
    z-index: 3;
}

.heroBackgrounds {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%
    );
}

.starsBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: 2;

    @media (max-width: 768px) {
        display: none;
    }

    &.mobile {
        display: none;
        @media (max-width: 768px) {
            display: block;
        }
    }
}

@keyframes tinyStarsGlow {
    0% {
        opacity: 0.2;
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2));
    }
    50% {
        opacity: 0.4;
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    }
    100% {
        opacity: 0.2;
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2));
    }
}

.tinyStarsBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.4;
    z-index: 3;
    animation: tinyStarsGlow 8s ease-in-out infinite;

    @media (max-width: 768px) {
        display: none;
    }
    &.mobile {
        display: none;
        opacity: 1;
        @media (max-width: 768px) {
            display: block;
        }
    }
}

.heroSectionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    position: relative;
    z-index: 10;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hackastraLogo {
    height: 140px;
    animation: fadeIn 1s ease-in;
    z-index: 3;
    margin: 0 auto;
    display: block;
}

@media (max-width: 768px) {
    .hackastraLogo {
        height: 80px;
        max-width: 80%;
    }

    .heroSection {
        height: 600px;
    }
}
