.schedule {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(179.18deg, #0D387C 5.86%, #856D93 66.17%, #FEA3AA 109.97%, #FEADA5 120.01%, #FDC899 133.86%, #FCDC8F 152.7%);
    overflow-y: hidden;

    .frontLights {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .ticket1 {
        z-index: 2;
    }

    .ticket2 {
        z-index: 2;
    }

    .ticket3 {
        z-index: 2;
    }
}
