.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    padding-bottom: 2rem;
    gap: 3rem;
    min-height: 100vh;
    height: fit-content;

    @media (max-width: 768px) {
        background-size: 400px;
        gap: 2rem;
    }
}

.contentWrapper {
    margin-top: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    position: relative;
    @media (max-width: 768px) {
        margin-top: 100px;
    }
}

.content {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
    align-items: center;
    text-align: left;
    text-align: center;
}

.logo {
    align-self: flex-start; /* Align logo with the text */
    margin-top: 10px; /* Reduced margin for less spacing */
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
    width: 130%;

    @media screen and (max-width: 768px) {
        font-size: 26px;
    }
}

.message {
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 15px;
    width: 80%;
    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
}

.follow {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
    margin-top: 40px;
}

.link {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}
