.olympianButtonWrapper {
    z-index: 3;
    width: fit-content;
    position: relative;

    &:hover {
        .olympianButton {
            background-color: #eed394;
        }

        transform: translateY(0.3vw);
        .olympianButton::after {
            // top: 0px;
            transform: translateY(-0.35vw);
        }
        // @media screen and (max-width: 1440px) {
        //     transform: translateY(6px);
        //     .olympianButton::after {
        //         top: 2px;
        //     }
        // }
        // @media screen and (max-width: 1152px) {
        //     transform: translateY(4px);
        //     .olympianButton::after {
        //         top: 12px;
        //     }
        // }
        // @media screen and (max-width: 960px) {
        // }
        // @media screen and (max-width: 770px) {
        //     transform: translateY(4px);
        //     .olympianButton::after {
        //         top: 2px;
        //     }
        // }
    }
}

.olympianButtonWrapper.bottomPadding {
    padding-bottom: 40px;
}

.olympianButton {
    background-color: #eed394;
    border-color: #34274a;
    position: relative;
    color: #562411;
    text-transform: uppercase;
    border-style: solid;
    cursor: pointer;
    // width: 360px;
    // height: 90px;
    border-radius: 2.8vw;
    // border-width: 8px;
    width: 30vw;
    height: 8vw;
    font-size: 3vw;
    border-width: 0.4vw;
    // font-size: 28px;
    font-weight: 700;

    &::after {
        content: "";
        display: block;
        width: 30vw;
        height: 8vw;

        border-radius: 2.8vw;
        background-color: #34274a;

        z-index: -1;
        position: absolute;
        left: -0.3vw;
        top: 0.3vw;
    }

    // @media screen and (max-width: 1440px) {
    //     width: 310px;
    //     height: 78px;
    //     font-size: 26px;
    //     border-width: 6px;
    //     border-radius: 20px;

    //     &::after {
    //         width: 310px;
    //         height: 78px;

    //         border-radius: 20px;

    //         left: -6px;
    //         top: 8px;
    //     }
    // }
    // @media screen and (max-width: 1152px) {
    //     width: 30vw;
    //     height: 8vw;
    //     font-size: 3vw;
    //     border-width: 0.4vw;
    //     border-radius: 20px;

    //     &::after {
    //         width: 30vw;
    //         height: 7vw;
    //         border-radius: 20px;
    //         left: -4px;
    //         top: 16px;
    //     }
    // }

    &:before {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        left: 12%;
        width: 20%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        transform: skewX(-30deg);
        transition: 0.3s;
    }

    &:hover:before {
        left: 65%;
    }

    @media screen and (max-width: 960px) {
        width: 40vw;
        height: 10vw;
        font-size: 4vw;

        &::after {
            width: 40vw;
            height: 10vw;
        }
    }

    @media screen and (max-width: 468px) {
        width: 45vw;
        height: 15vw;
        font-size: 4vw;
        border-radius: 20px;
        border-width: 1vw;

        &::after {
            width: 45vw;
            height: 15vw;
            border-radius: 20px;
            left: -1vw;
        }
    }
}

.olympianButtonWrapper.blue .olympianButton {
    background-color: #55a2a7;
    color: white;
    border-color: #43959a;
    &::after {
        background-color: #43959a;
    }
}

.olympianButtonWrapper.gold .olympianButton {
    background-color: #c7a94f;
    color: white;
    border-color: #aa8d36;
    &::after {
        background-color: #aa8d36;
    }
}

.olympianButtonWrapper.medium .olympianButton {
    width: 22.5vw;
    height: 6vw;
    font-size: 2vw;
    border-radius: 2vw;

    &::after {
        width: 22.5vw;
        height: 6vw;
        border-radius: 2vw;
    }

    @media screen and (max-width: 960px) {
        width: 30vw;
        height: 10vw;
        font-size: 3vw;

        &::after {
            width: 30vw;
            height: 10vw;
        }
    }

    @media screen and (max-width: 468px) {
        width: 45vw;
        height: 15vw;
        font-size: 4vw;
        border-radius: 20px;
        border-width: 1vw;

        &::after {
            width: 45vw;
            height: 15vw;
            border-radius: 20px;
            left: -1vw;
        }
    }
}

.olympianButtonWrapper.small .olympianButton {
    width: 14vw;
    height: 4vw;
    font-size: 1.5vw;
    border-radius: 2vw;

    &::after {
        width: 14vw;
        height: 4vw;
        border-radius: 2vw;
    }

    @media screen and (max-width: 960px) {
        width: 30vw;
        height: 10vw;
        font-size: 3vw;

        &::after {
            width: 30vw;
            height: 10vw;
        }
    }

    @media screen and (max-width: 468px) {
        width: 45vw;
        height: 15vw;
        font-size: 4vw;
        border-radius: 20px;
        border-width: 1vw;

        &::after {
            width: 45vw;
            height: 15vw;
            border-radius: 20px;
            left: -1vw;
        }
    }
}
