.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: -5px; // To align the button with the other content
}

.button:hover {
    cursor: pointer;
}
