.proTrackPage {
    background-color: #1a142b;
    color: white;
    min-width: 100vw;
    min-height: max(90vw, 100vh);
    padding: 0 48px;
    padding-top: 10rem;
    @media (max-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.title {
    position: relative;
    margin-bottom: 50px;
}

.descriptions {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
}
