.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 32.5rem;
    height: 35rem;
    @media screen and (max-width: 1536px) {
        width: 26rem;
        height: 28rem;
    }
    @media screen and (max-width: 1280px) {
        width: 24rem;
        height: 26rem;
    }
    @media screen and (max-width: 1024px) {
        width: 22rem;
        height: 16rem;
    }
    @media screen and (max-width: 900px) {
        width: 22rem;
        height: 16rem;
    }
    @media screen and (max-width: 700px) {
        width: 20rem;
        height: 15rem;
    }

    .image {
        display: none;

        @media screen and (max-width: 1024px) {
            display: block;
            max-width: 100%;
            height: 100%;
            margin-bottom: 7.5%;
        }
        @media screen and (max-width: 900px) {
            display: block;
            max-width: 100%;
            height: 100%;
            margin-bottom: 15%;
        }
        @media screen and (max-width: 900px) {
            display: block;
            max-width: 100%;
            height: 100%;
            margin-bottom: 0%;
        }

    }

    .content {
        padding: 0 5%;
        @media screen and (max-width: 1536px) {
            padding: 0 3.5%;
        }
        @media screen and (max-width: 1280px) {
            padding: 0 3%;
        }
        @media screen and (max-width: 1024px) {
            padding: 0 15%;
        }
        @media screen and (max-width: 900px) {
            padding: 0 30%;
        }
        @media screen and (max-width: 700px) {
            padding: 0 12.5%;
        }
        display: flex;
        flex-flow: column nowrap;
        row-gap: 1rem;
    }

    .hackText {
        text-align: center;
        font-size: 2.5rem;
        @media screen and (max-width: 1536px) {
            font-size: 2rem;
        }
        @media screen and (max-width: 1280px) {
            font-size: 1.75rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 1.625rem;
        }
        @media screen and (max-width: 900px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 1.5rem;
        }
        font-weight: 800;
        .knightText {
            color: #ffb23e;
        }
    }

    .text {
        font-size: 1.25rem;
        @media screen and (max-width: 1536px) {
            font-size: 1.125rem;
        }
        @media screen and (max-width: 1280px) {
            font-size: 1.0625rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 900px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 1rem;
        }
        font-weight: 600;
        text-align: center;
    }

    .subText {
        font-size: 1rem;
        @media screen and (max-width: 1536px) {
            font-size: 0.875rem;
        }
        @media screen and (max-width: 1280px) {
            font-size: 0.75rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 0.75rem;
        }
        @media screen and (max-width: 900px) {
            font-size:0.675rem;
        }
        @media screen and (max-width: 700px) {
            font-size: 0.675rem;
        }
        text-align: center;
    }

    .marginTop{
        margin-top: 7rem;
        @media screen and (max-width: 900px) {
            margin-top: 0.75rem;
        }
        @media screen and (max-width: 700px) {
            margin-top: 0.75rem;
        }
    }

    .buttonDiv {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0 10%;
        text-align: center;

        .button {
            > img {
                max-width: 75%;
                @media screen and (max-width: 1536px) {
                    max-width: 60%;
                }
                @media screen and (max-width: 1280px) {
                    max-width: 50%;
                }
                @media screen and (max-width: 1280px) {
                    max-width: 75%;
                }
                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
    }
}
