.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.successContainer {
    width: 700px;
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin: auto 0;
    padding: 0 3rem;
    // margin-right: 3rem;
    @media (max-width: 768px) {
        width: 600px;
        height: 600px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding-top: 7rem;
}

.container h1 {
    position: relative;
    z-index: 4;
    text-align: center;
}

.container .description {
    font-size: 20px;
}

.successContainer .highlightText {
    color: #f3ea96;
    font-weight: 600;
    text-shadow:
        0 0 4px #f3ea96,
        0 0 8px rgba(243, 234, 150, 0.1),
        0 0 12px rgba(243, 234, 150, 0.1),
        0 0 16px rgba(243, 234, 150, 0.1);
}

.container p {
    font-size: 16px;
    font-weight: 500;
}

.successContainer p {
    font-size: 16px;
    font-weight: 500;
}

.container .smallNote {
    font-size: 10px;
}
.successContainer h3 {
    font-size: 25px;
}

.container h3 {
    font-size: 50px;
}

.container .link {
    margin-top: 10px;
    position: relative;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #004561;
}

.successContainer .contentGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.successContainer .footnote {
    font-size: 12px;
}

.container .unlimitedAttempts {
    margin-top: 5px;
}

.background {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background .spacer {
    flex: 1;
    height: 100%;
}

.background .spacer.failure {
    @media (max-width: 768px) {
        display: none;
    }
}

.background .container {
    width: 100%;
    flex: 1.6;
    @media (max-width: 768px) {
        padding-top: 150px;
    }
}

.options {
    display: flex;
    gap: 20px;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 50px;
    }
}

.options .optionContainer {
    width: 300px;
    height: 300px;
    // background-color: rgb(105, 105, 105);

    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    gap: 12px;

    @media (max-width: 768px) {
        width: 400px;
        height: 340px;
        background-size: 400px;
    }
}

.optionContainer .optionText {
    font-size: 14px;
}

.optionContainer .description {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.optionContainer .optionHeader {
    font-size: 20px;
    font-weight: 700;
}
