.ellipseSection {
    position: relative;
    width: 100%;
    @media (max-width: 1400px) {
        z-index: 8;
    }
}

.ellipseImage {
    width: 105%;
    margin-left: -2.5%;
    display: block;
    object-fit: cover;
    object-position: top;
    margin-bottom: -2px;
}

.ellipseTextSvg {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 6;
    pointer-events: none;
    font-weight: 600;
    @media (max-width: 2100px) {
        top: -90px;
    }
    @media (max-width: 1900px) {
        top: -80px;
    }
    @media (max-width: 1700px) {
        top: -50px;
    }
    @media (max-width: 1400px) {
        display: none;
    }
}
.ellipseTextSvgMobile {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 6;
    pointer-events: none;
    font-weight: 600;
    @media (max-width: 1400px) {
        display: block;
    }
    @media (max-width: 600px) {
        display: none;
    }
}

.ellipseTextSvgSmall {
    display: none;
    position: absolute;
    top: 14px;
    left: 0;
    z-index: 6;
    pointer-events: none;
    font-weight: 600;
    @media (max-width: 600px) {
        display: block;
    }
}

.ellipseTextPath {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    fill: white;
    @media (max-width: 2100px) {
        font-size: 24px;
    }
}

.ellipseTextPathMobile {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 600;
    @media (max-width: 768px) {
        font-size: 55px;
    }
    @media (max-width: 600px) {
        font-size: 60px;
    }

    @media (max-width: 400px) {
        font-size: 64px;
    }
}
