.container {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    text-align: left;
}

.logo {
    align-self: flex-start; /* Align logo with the text */
    margin-top: 10px; /* Reduced margin for less spacing */
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
    width: 130%;
}

.message {
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 15px;
    width: 80%;
}

.follow {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 100%;
    margin-top: 40px;
}

.link {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}
