.sponsors {
    .background{
        background-image: linear-gradient(to bottom, #196799, #27A4B6);
        position: relative;
        min-height: 200vh;
        z-index: 2;
        margin-bottom: 0;
     

        .rect{
            position: absolute;
            width: 626.73px;
            height: 160.96px;
            left: 20%;
            top: 10%; //21%
            text-align: center;
            border-radius: 40px;
            transform: rotate(2.49deg);
    
    
    background: #1D2644;
    border-radius: 20px;
    transform: matrix(1, -0.05, 0.02, 1, 0, 0);
    
    .h1{
      
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        text-align: center;
        margin: 26px;
        
        font-weight: 600;
        font-size: 70px;
        line-height: 85px;
        transform: matrix(1, -0.05, 0.02, 1, 0, 0);
        color: #C9D2E5;
    }
    }
    
    .emailBox {
        position: absolute;
        background-color:#0D387C8F;
        width: 80%;
        height: 60%;
        border: 1px solid #0D387C8F ;
        border-radius: 40px;
        left: 9.5%; //50%
        top: 18%; //60%
        text-align: center; 
    
    }
    .sponsorstitle {
        text-align: center;
        text-transform: uppercase; /* convert the text to uppercase */
        font-size: 60px;
        font-weight: bold;
        margin-top: 15px; /* add some margin to separate the title from the rectangle */
        
    }
    
    .email{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;
        position: relative;
        margin: 40px;
        color: #CAD2E5;
        top:35% //25%
        
    }

    }



}
