.sponsors {
    .background{
        background-image: linear-gradient(to bottom, #196799, #27A4B6);
        position: relative;
        min-height: 200vh;
        z-index: 2;
        margin-bottom: 0;
     

        .rect{
            position: absolute;
            width: 60%;
            height: auto;
            left: 20%;
            top: 13%; //21%
            text-align: center;
            border-radius: 40px;
            transform: rotate(2.49deg);
    
    
    background: #1D2644;
    border-radius: 20px;
    transform: matrix(1, -0.05, 0.02, 1, 0, 0);
    
    .h1{
      
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        text-align: center;
        margin: 26px;
        
        font-weight: 600;
        font-size: 70px;
        line-height: 85px;
        transform: matrix(1, -0.05, 0.02, 1, 0, 0);
        color: #C9D2E5;
    }
    }
    
    .emailBox {
        position: absolute;
        background-color:#0D387C8F;
        width: auto;
        height: auto;
        border: 1px solid #0D387C8F ;
        border-radius: 40px;
        left: 9.5%; //50%
        top: 18%; //60%
        text-align: center; 
    
    }
    .sponsorstitle {
        text-align: center;
        text-transform: uppercase; /* convert the text to uppercase */
        font-size: 45px;
        font-weight: bold;
        margin-top: 15px; /* add some margin to separate the title from the rectangle */
        
    }
    
    .email{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;
        position: relative;
        margin: 40px;
        color: #CAD2E5;
        top:35% //25%
        
    }

}
.gridContainer{
    display: grid;
    grid-template-areas: 
        "john john"
        "ghub Epic"
        "Cardano Cardano"
        "log Caterpillar"
        "BLUES BLUES"


}
.logo1{
    position: relative;
    grid-area: john;
    left: 45%;
    top:33%;

    width: 60%;
}
.logo2{
    position: relative;
    
    grid-area: ghub;
    width: 70%;
    top:238%;
    left:58%;
    margin-left: 20px;

}
.logo3{
    position: relative;
    grid-area: epic;
    width: 105%;
    right:50%;
    top:-95%

}
.logo4{
    position: relative;
    grid-area: BATS;
    width: 70%;
    top: 360%;
    margin-left: 20px;


}
.logo5{
    position: relative;
    grid-area: BLUES;
    width: 50%;
    left:45%;
    top:440%;
    margin-left: 20px;

    

}
.logo6{
    position: relative;
    grid-area: Caterpillar;
    width: 90%;
    top:260%;
    left:45%


}
.logo7{
    position: relative;
    grid-area:Cardano;
    width: 70%;
    top:240%;
    left:35%;

}
.logo8{
    position: relative;
    grid-area:log;
    width: 65%;
    left:55%;
    top:230%
}



}
